registry=https://naranja.jfrog.io/artifactory/api/npm/nx_npm_public/
//naranja.jfrog.io/artifactory/api/npm/nx_npm_public/:_password=QVA5Nm01RjU5eGk3UkxHSHlBNlFFQ0tUdlZI
//naranja.jfrog.io/artifactory/api/npm/nx_npm_public/:username=gitlab
//naranja.jfrog.io/artifactory/api/npm/nx_npm_public/:email=gitlab@naranja.dev